---
import SocialButton from './SocialButton.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import { BASE_URL, CV, SOCIAL_LINKS } from '../constants';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="relative isolate overflow-hidden bg-transparent" aria-labelledby="hero-section">
  <div class="mx-auto max-w-4xl px-6 py-12 sm:py-0 sm:pb-18 text-center relative z-10">
    <h1 id="hero-section" class="text-4xl mt-0 sm:mt-18 font-extrabold tracking-tight sm:text-5xl md:text-6xl text-balance md:leading-20 select-none">
      {t('hero.title')} <span class="text-primary">{t('hero.title.highlight')}</span>⚡
    </h1>

    <p class="my-18 mt-10 text-xl max-w-2xl mx-auto leading-8 text-neutral-600 dark:text-neutral-300 text-balance select-none">
      {t('hero.description')}
      <br />
      {t('hero.description.line2')}
    </p>

    <!-- CTAs -->
    <div
      class="mt-10 flex flex-row items-center gap-4 justify-center"
    >
      <a
        href="#projects"
        aria-label={t('hero.cta.primary')}
        data-umami-event="cta-click"
        data-umami-event-location="hero"
        class="inline-flex items-center gap-2 rounded-xl bg-emerald-700 px-6 py-3 text-sm font-semibold text-white shadow-lg transition-transform duration-200 ease-out hover:scale-105 active:scale-[0.97] hover:bg-emerald-700 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-emerald-500 dark:bg-emerald-500 dark:hover:bg-emerald-500 border-2 border-emerald-700 dark:border-emerald-500 select-none"
      >
        {t('hero.cta.primary')}
      </a>
      <a aria-label={t('hero.cta.cv')}
        href={`${BASE_URL}${CV.path}`}
        download="Nacho_Martinez_CV.pdf"
        target="_blank"
        rel="noopener noreferrer"
        data-umami-event="cv-download"
        data-umami-event-lang={lang}
        class="inline-flex items-center gap-2 rounded-xl border-2 border-emerald-700 hover:text-white dark:border-emerald-500 dark:hover:bg-emerald-500
         px-6 py-3 text-sm font-medium shadow-sm transition hover:bg-primary/10 focus:outline-none
         focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-primary select-none"
      >
        {t('hero.cta.cv')}
      </a>
    </div>

    <!-- Social buttons -->
    <div class="mt-12 flex flex-wrap justify-center gap-4">
      <SocialButton
        href={SOCIAL_LINKS.linkedin}
        label={t('hero.social.linkedin')}
        iconName="linkedin"
        iconClassName="h-8 w-8"
      />
      <SocialButton
        href={SOCIAL_LINKS.threads}
        label={t('hero.social.threads')}
        iconName="threads"
        iconClassName="h-8 w-8"
      />
      <SocialButton
        href={SOCIAL_LINKS.github}
        label={t('hero.social.github')}
        iconName="github"
        iconClassName="h-8 w-8"
      />
    </div>
  </div>
</section>
